p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

table {
    margin-top: 7px;
    margin-bottom: 15px;
}

td {
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-right: 6pt;
    padding-left: 6pt;
}